body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff; /* بدل الكحل بالأبيض */
    color: #0d0d0d; /* نص غامق باش يبان */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: white; /* كان كحل */
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav a {
    color: #0d0d0d;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFC107; /* لون شمسي */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    background: linear-gradient(to right, #ffffff, #f8f9fa);
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #FFC107;
    font-weight: bold;
    border-radius: 30px;
    color: black;
}

.features {
    text-align: center;
    padding: 60px;
    background: #f9f9f9;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.card:hover {
    transform: translateY(-10px);
    background: #FFC107;
    color: black;
}

.slider {
    text-align: center;
    padding: 60px;
    background: white;
}

.slide-container img {
    width: 300px;
    border-radius: 15px;
}

footer {
    background: #0d0d0d;
    color: white;
    text-align: center;
    padding: 20px;
}

}
